* {
    margin: 0;
    padding: 0
}
body {
    background: olive;
}
table#gameBoard {
    border: 1px solid brown;
    float: left;
}
table#gameBoard tr td {
    width: 38px;
    height: 38px;
    vertical-align: middle;
    text-align: center;
    background: orange;
}
table#gameBoard tr td.worm.activeWorm {
    background: yellow;
}
table#gameBoard tr td.pcMan{
    background: navy;
}
div#data {
    float: left;
}
